<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Where Is Anton?</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    <link type="text/css" rel="stylesheet" href="/static/css/lobibox.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.min.css?ver={{ version }}" />
</head>

<body>
    <nav id="nav">
      <a href="/#" onclick="handleNavOption(false);">Current location</a>
      <a href="/#" onclick="handleNavOption(true);">All locations</a>
      <a href="/#" onclick="showDrunkStatus();">Is he drunk?</a>
      <a href="https://facebook.com/sharer.php?u=https://where-is-anton.appspot.com/" target="_blank">Share on Facebook</a>
      <a href="http://timothy-flynn.com" target="_blank">Created by Tim Flynn</a>
    </nav>

    <div class="body">
        <header>
            <a href="#nav" class="open">
                <div class="hamburger">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
            </a>
            <a href="#" class="close">
                <div class="hamburger">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
            </a>

            <h2>Where is Anton?</h2>
        </header>

        <div class="content">
            <div id="map"></div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/lobibox.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="/static/js/main.min.js?ver={{ version }}"></script>
</body>

</html>
