<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Is Anton Drunk?</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    <link type="text/css" rel="stylesheet" href="/static/style.min.css" />
</head>

<body>
    <nav class="main-nav" id="main-nav">
      <a href="/#" onclick="handleNavOption(false);">Current location</a>
      <a href="/#" onclick="handleNavOption(true);">All locations</a>
      <a href="/drunk">Is Anton drunk?</a>
      <a href="https://facebook.com/sharer.php?u=https://where-is-anton.appspot.com/drunk/" target="_blank">Share on Facebook</a>
      <a href="http://timothy-flynn.com" target="_blank">Created by Tim Flynn</a>
    </nav>

    <div class="page-wrap">
        <header class="main-header">
            <a href="#main-nav" class="open-menu">☰</a>
            <a href="#" class="close-menu">☰</a>

            <h2>Is Anton drunk?</h2>
        </header>

        <div class="content">
        <center>
            <br />
            <br />
            <br />
            {% if drunk == True %}
                {% if hours == 1 %}
                    <p>Yes! Anton has been drunk for about {{ hours }} hour :)</p>
                {% else %}
                    <p>Yes! Anton has been drunk for about {{ hours }} hours :)</p>
                {% endif %}
            {% else %}
                {% if hours == 1 %}
                    <p>Nope! It has been {{ hours }} hour since Anton has been drunk :(</p>
                {% else %}
                    <p>Nope! It has been {{ hours }} hours since Anton has been drunk :(</p>
                {% endif %}
            {% endif %}
        </center>
        </div>
    </div>

    <script type="text/javascript" src="/static/jquery.min.js"></script>
</body>

</html>
